In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
train_data = pd.read_csv('/kaggle/input/titanic/train.csv')

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data = pd.read_csv('/kaggle/input/titanic/test.csv')

## Data Analysis and Preprocessing:

In [5]:
# Survival Rate in Training Data
survived_stat = train_data['Survived'].value_counts()
print(survived_stat)
died = survived_stat[0]
survived = survived_stat[1]

print(f"{round((died / (died + survived)) * 100, 2)}% Passengers Died")
print(f"{round((survived / (died + survived)) * 100, 2)}% Passengers Survived")

0    549
1    342
Name: Survived, dtype: int64
61.62% Passengers Died
38.38% Passengers Survived

In [6]:
dependents = [feature for feature in list(train_data.columns) if feature not in ['Survived', 'PassengerId', 'Name']]
print(dependents)

['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [7]:
import matplotlib.pyplot as plt

# plt.style.use('seaborn')

# fig, axs = plt.subplots(len(dependents))

for index, feature in enumerate(dependents):
    print("\n", feature)
    
    print(train_data[feature].value_counts())
    feature_stat = dict(train_data[feature].value_counts())
    values = []
    rates = []
    for feature_val in feature_stat:
        values.append(feature_val)
        value = train_data.loc[train_data[feature] == feature_val]["Survived"]
        rates.append(sum(value) / len(value))
    
    print(pd.DataFrame(sorted(zip(values, rates))))
#     axs[index].plot(values, rates)

 Pclass
3    491
1    216
2    184
Name: Pclass, dtype: int64
   0         1
0  1  0.629630
1  2  0.472826
2  3  0.242363

 Sex
male      577
female    314
Name: Sex, dtype: int64
        0         1
0  female  0.742038
1    male  0.188908

 Age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, Length: 88, dtype: int64
        0    1
0    0.42  1.0
1    0.67  1.0
2    0.75  1.0
3    0.83  1.0
4    0.92  1.0
..    ...  ...
83  70.00  0.0
84  70.50  0.0
85  71.00  0.0
86  74.00  0.0
87  80.00  1.0

[88 rows x 2 columns]

 SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64
   0         1
0  0  0.345395
1  1  0.535885
2  2  0.464286
3  3  0.250000
4  4  0.166667
5  5  0.000000
6  8  0.000000

 Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64
   0         1
0  0  0.343658
1  1  0.550847
2  2  0.500000
3  3  0.600000
4  4  0.000000
5  5  0.200000
6  6  0.000000

 Ticket
347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: Ticket, Length: 681, dtype: int64
               0         1
0         110152  1.000000
1         110413  0.666667
2         110465  0.000000
3         110564  1.000000
4         110813  1.000000
..           ...       ...
676   W./C. 6608  0.000000
677   W./C. 6609  0.000000
678  W.E.P. 5734  0.000000
679    W/C 14208  0.000000
680    WE/P 5735  0.500000

[681 rows x 2 columns]

 Fare
8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
35.0000     1
28.5000     1
6.2375      1
14.0000     1
10.5167     1
Name: Fare, Length: 248, dtype: int64
            0         1
0      0.0000  0.066667
1      4.0125  0.000000
2      5.0000  0.000000
3      6.2375  0.000000
4      6.4375  0.000000
..        ...       ...
243  227.5250  0.750000
244  247.5208  0.500000
245  262.3750  1.000000
246  263.0000  0.500000
247  512.3292  1.000000

[248 rows x 2 columns]

 Cabin
B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64
       0    1
0    A10  0.0
1    A14  0.0
2    A16  1.0
3    A19  0.0
4    A20  1.0
..   ...  ...
142  F33  1.0
143  F38  0.0
144   F4  1.0
145   G6  0.5
146    T  0.0

[147 rows x 2 columns]

 Embarked
S    644
C    168
Q     77
Name: Embarked, dtype: int64
   0         1
0  C  0.553571
1  Q  0.389610
2  S  0.336957

In [8]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

### Handling NaN fields:

In [10]:
values = {"Age":0, "Cabin": 'NA', "Embarked": 'NA'}

In [11]:
# train = train_data.dropna(subset=['Age'])
train = train_data.fillna(value=values)

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
# test = test_data.fillna(value=values)

### Analysing attribute values for identifying categorical (and type of categorical) and numerical variables:

In [14]:
# Categorical Variables to be considered: Sex, Ticket, Cabin, Embarked
# All are nominal categorical variables, cabin may be considered ordinal, however some passengers have multiple cabin values,
# using dummies

### Preparing input data:

In [15]:
# Extracting independent output variable y
y = train["Survived"]

# Setting features to be used
features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"]

# features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Ticket", "Embarked"]

In [16]:
temp = train.copy()[features]
temp_test = test_data.copy()[features]

In [17]:
temp.head()

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,male,22.0,1,0,A/5 21171,7.2500,NA,S
1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NA,S
3,1,female,35.0,1,0,113803,53.1000,C123,S
4,3,male,35.0,0,0,373450,8.0500,NA,S

In [18]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
onehot_encoder.fit(temp)

OneHotEncoder(handle_unknown='ignore', sparse=False)

In [19]:
X_train = onehot_encoder.transform(temp)
X_test = onehot_encoder.transform(temp_test)

In [20]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = StandardScaler()
# scaler = MinMaxScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [21]:
X_train

array([[-0.56568542, -0.51015154,  0.90258736, ..., -0.0474312 ,
        -0.30756234,  0.61930636],
       [ 1.76776695, -0.51015154, -1.10792599, ..., -0.0474312 ,
        -0.30756234, -1.61470971],
       [-0.56568542, -0.51015154,  0.90258736, ..., -0.0474312 ,
        -0.30756234,  0.61930636],
       ...,
       [-0.56568542, -0.51015154,  0.90258736, ..., -0.0474312 ,
        -0.30756234,  0.61930636],
       [ 1.76776695, -0.51015154, -1.10792599, ..., -0.0474312 ,
        -0.30756234, -1.61470971],
       [-0.56568542, -0.51015154,  0.90258736, ..., -0.0474312 ,
         3.25137334, -1.61470971]])

## Training:

In [22]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.neural_network import MLPClassifier

from sklearn.model_selection import cross_val_score

model = RandomForestClassifier(n_estimators=100, criterion='entropy')
# model = AdaBoostClassifier(n_estimators=50, learning_rate=0.05)

In [23]:
scores = cross_val_score(model, X_train, y, cv=5)
print(scores)

[0.83240223 0.80898876 0.84269663 0.79213483 0.83146067]

In [24]:
model.fit(X_train, y)
model.score(X_train, y)

0.9988776655443322

## Predictions:

In [25]:
predictions = model.predict(X_test)

In [26]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [27]:
len(predictions[predictions==1])/len(predictions)

0.35645933014354064